html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
nav
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}
#section_introduzione
{
    position: relative;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: green;
}